.cart{
padding-bottom:0.84rem;
}
.totalPrice {
  padding: 0 0.15rem;
  height: 0.6rem;

    font-size: 0.2rem;
    line-height: 0.6rem;

}
.totalPrice .total_l{
  float: left;
  line-height: 0.6rem;
}
.totalPrice .total_r{
  float: right;
}
.totalPrice .total_l input{
    width: 0.32rem;
    height: 0.32rem;
    vertical-align: middle;
}
.totalPrice .btn{
  width: 0.6rem;
  height: 0.4rem;
  display: inline-block;
  background: #ccc;

    font-size: 0.2rem;
    line-height: 0.4rem;

  text-align: center
}
